@media only screen and (min-width: 32.5em) {
    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    header, footer {
        border-radius: 15px;
    }

    header img {
        display: none;
    }

    .article {
        background-color: rgba(0,0,0,.1);
        padding: .1em 1em;
    }

    #allProjectInfo article {
        flex-direction: row;
    }

    #allProjectInfo article:nth-child(odd) {
        flex-direction: row-reverse;
    }

    #allProjectInfo div {
        width: 50%;
    }

    .projectInfoImg {
        width: 50%;
    }

    .articleImg {
        margin: 0 0 15px 15px;
        width: 50%;
        float: right;
    }   

    .article img {
        float: right;
        margin-left: 1em;
        margin-bottom: 1em;
        width: 250px;
    }

    .p01, .p02, .p03, .p04 {
        margin: auto;
    }
}