@media only screen and (min-width: 60em) {
    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2rem;
    }
    
    header, nav, main, footer {
        margin: 0 auto;
        max-width: 100%;
    }

    header img {
        float: right;
        border-radius: 15px;
        box-shadow: 0 0 30px #444;
        width: 275px;
        height: auto;
    }
}