/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@media screen and (max-width: 550px) {
  .home-grid, nav ul {
    display: block;
  }
}

h1, h2, h3, h4, h5, h6 {
  background-color: #FF2400;
  }

body {
  background-color: #8FC0A9;
  font-family: 'Rock Salt', 'cursive', 'sans-serif';
  padding: 5px 25px;
  font-size: 18px;
  margin: 0 auto;
  color: #444;
}

h2 {
  font-family: 'Rock Salt', 'cursive', 'sans-serif';
  font-size: 32px;
  border: 5px dashed;
  color: #FFBD19;
  text-align: center;
}

h3 {
  font-family: 'Rock Salt', 'cursive', 'sans-serif';
  border: 5px solid;
  padding: 0.5em;
  color: #FFBD19;
}

p {
  font-family: 'Architects Daughter', 'cursive', 'sans-serif';
}

header {
  font-size: 1.1em;
  align-items: center;
  display: grid;
  grid-template-columns: 150px auto;
  background-color: #FFBD19;
  border: 1px solid #FF2400;
}

.logo-box {
  background: #FFBD19;
  padding: 0.1em;
}

.logo-box img{
  width: 140px;
  margin-top: 4px;
  border-radius: 50px 50px 50px 50px;
}

nav {
	margin: 0 auto;
  padding: 1em;
}

.navigation a:hover {
  background-color: #FF2400;
  color: #FFBD19;
}

.navigation {
	list-style: none;
  margin: 0 auto;
	padding: 0;
  text-align: center;
  width: 100%;
}

.navigation li a {
  color: #FF2400;
}


@media only screen and (min-width: 31.5em) {
  nav li {
    color: #FFBD19;
  }

  .navigation {
    display: flex;
    justify-content: center;
  }
  
  .navigation a:hover {
    background-color: #FF2400;
    color: #FFBD19;
    font-weight: bold;
  }
  
  .navigation li {
    display: block; /* change state in small view */
    flex: 1 1 auto;
  }
  
  .navigation li a {
    border: none;
    color: #FF2400;
    font-size: 1em;
    padding: 1.2em 1em;
    text-align: center;
  }
}

@media only screen and (min-width: 60em) {
  nav {
    color:#FF2400;
  }

  nav a:hover {
    color: #FFBD19;
    background-color: #FF2400;
  }

  .navigation li {
    margin: 0;
  }

  .navigation li a {
    border: none;
    color: #FF2400;
    padding: .8em 1em;
  }
}

.banner-box img {
  width: 100%;
  margin-top: 4px;
}

.aboutme-style-grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 1em;    
  background-color: white;
}

.aboutme-title-1 {
  padding: 1em;
  text-align: center;
  line-height: 70%;
  margin-bottom: -25px;
  grid-column: 1/9;
  grid-row: 1/2;
}

.aboutme-headline-1 {
  padding: 1em;
  text-align: center;
  line-height: 100%;
  margin-bottom: -25px;
  grid-column: 1/9;
  grid-row: 3;
  margin-left: 50px;
  margin-right: 50px;
}

.aboutme-paragraph-1 {
  padding: 1em;
  text-align: center;
  background-color: white;
  grid-column: 1/9;
  grid-row: 4;
}

.aboutme-paragraph-2 {
  padding: 1em;
  text-align: center;
  background-color: white;
  grid-column: 1/9;
  grid-row: 5;
}

.aboutme-paragraph-3 {
  padding: 1em;
  text-align: center;
  background-color: white;
  grid-column: 1/9;
  grid-row: 6;
}

.aboutme-paragraph-4 {
  padding: 1em;
  text-align: center;
  background-color: white;
  grid-column: 1/9;
  grid-row: 7;
}

.aboutme-paragraph-5 {
  padding: 1em;
  text-align: center;
  background-color: white;
  grid-column: 1/9;
  grid-row: 8;
}

.aboutme-paragraph-6 {
  padding: 1em;
  text-align: center;
  background-color: white;
  grid-column: 1/9;
  grid-row: 9;
}

.image-me {
  grid-column: 1/9;
  grid-row: 10;
  margin-left: 80px;
  margin-bottom: 50px;
}

@media only screen and (min-width: 60em) {
  .image-me {
    grid-column: 1/9;
    grid-row: 10;
    margin-left: 500px;
  }
}

footer {
  height: 55px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
  align-items: center;
}

.social-2 { 
  font-family: fantasy;
  grid-column: 1/3;
  grid-row: 1/2;
  padding: 1em;
  margin: 0;
  text-align: left;
}

.social {
  grid-column: 4/6;
  grid-row: 1/2;
  margin: 0;
  padding: 1em;
}

.social img{
   width: 55px;
}
