@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@media only screen and (min-width: 32.5em) {

    /*Footer Section*/

    .allinfo {
        display: grid;
        font-size: 16px;
        grid-template-columns: 1fr 1fr;
        grid-gap: .5em;
        margin-left: 1em;
        text-align: left;
    }

    .map {
        display: block;
        grid-area: 1 / 1 / span 2 / span 1;
    }

    .map img {
        display: block;
        margin: 1em auto;
        width: 250px;
    }

    .socialmedia {
        margin-left: 1em;
        text-align: left;
    }

    .socialmedia img {
        width: 45px;
    }

    /* Finish Footer Section */

    /* Header Section*/

    header {
        justify-content: left;
        padding: 1.25em .75em;
    }

    header button {
        display: none;
    }

    header img {
        width: auto;
    }

    .headings h1 {
        font-size: 3rem;
    }

    .slogan {
        font-size: larger;
        letter-spacing: 1.5pt;
        margin-left: 17px;
    }

    /* Finish Header */

    /* Navigation Seaction*/

	.navigation {
		display: flex;
	}

	.navigation li {
		display: block; /* change state in small view */
		flex: 1 1 auto;
	}

	.navigation a {
        font-size: 1.5em;
        padding: .1em 0;
		text-align: center;
	}

	.navigation li:first-child {
		display: none;
	}
    /* Finish Navigation */
}