@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

body {
    font-family: "Ubuntu", sans-serif;
}

/* Footer Section */

footer a {
    color: white;
  }

footer a:hover {
  color: yellow;
}
  
footer p {
  color: white;
}

footer {
  background-color: rgb(37, 53, 87);
  border-top: 1px solid black;
  color: white;
  font-family: "Antonio", sans-serif;
  padding: 0.25rem;
  text-align: center;
}

/* Finish Footer */

/* Hearder Section */
  
header {
    align-items: center;
    background-color: navy;
    color: white;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: .1rem 5px;
}
  
header h1 {
    color: white;
    font-size: 20px;
    margin: 0;
}

/* Finish Header */

/* Table Section */

.maximum {
    background-color: #628ca6;
    color: white;
}

table {
    border-collapse: collapse;
    box-shadow: 8px 8px 10px #628ca6;
    margin: 5% auto;
    text-align: center;
}

tbody tr:nth-child(odd) {
    background-color: #e7f0ed;
}

tbody tr:nth-child(even) {
    background-color: #e7ffed;
}

tfoot td {
    background-color: #7fb9c2;
    font-size: .7em;
    padding: .8em;
}

thead td {
    background-color: #7fb9c2;
    font-size: 1.5em;
    font-weight: bold;
}

thead th {
    background-color: #628ca6;
    color: white;
}

th, td {
    padding: .4em .8em;
}


/* Finish Table */