@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");
* {
	margin: 0;
	padding: 0;
}
body {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 18px;
	font-family: Acme, Arial, sans-serif;
}

main {
	margin: 0.5rem;
	border: 1px solid #999;
	padding: 0.5rem;
	background-color: #bed;
	display: grid;
	grid-template-columns: 1fr;
}

input,
button {
	padding: 0.5rem;
}

label {
	font-size: 0.8rem;
}

.listcontainer {
	padding: 1rem;
	margin: 1rem;
	border: 1px solid #bbb;
}

.list {
	margin: 0.25rem;
}

ul {
	margin: 1rem;
	list-style: none;
}

li {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: .5rem;
}

footer a {
    color: white;
  }

footer a:hover {
  color: yellow;
}
  
footer p {
  color: white;
}

footer {
	background-color: rgb(37, 53, 87);
	border-top: 1px solid black;
	color: white;
	font-family: "Antonio", sans-serif;
	padding: 0.25rem;
	text-align: center;
  }
