@media only screen and (min-width: 75rem) {

  .fourgrid {
    grid-template-columns: repeat(4, 1fr);
  }
    
  .fourgrid, .threegrid, #target {
    max-width: 80rem;
  }

  html main {
    padding: 0.15rem;
  }

  nav {
    max-width: 100%;
  }

  nav, .fourgrid, .threegrid {
    margin: 0 auto;
  }

  #sectionNameDesktop img {
    max-width: 200%;
  }

  .threegrid, .fourgrid {
    display: grid;
    grid-template-rows: auto;
  }

  .threegrid {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .twogrid {
    grid-template-columns: 1fr 1fr;
  }

}