:root {
    --ceruleanblue: #004ECE;
    --spacecadet: #182D4F;
    --carolinablue: #0B98E6;
    --silversand: #C6CBCF;
   
    --main: #001219;
    --accent: #ae2012;
    --white: white;
}

body {
    margin: 0 auto;
    text-align: center;
}

html {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1, h2, h4, h5, h6 {
    color: var(--ceruleanblue);
    margin-top: 1.2rem;
    margin-bottom: 0.2rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-style: normal;
}
  
h2, header, footer {
    padding: 0.8rem;
}

h3 {
    color: var(--spacecadet);
}
  
header h1, footer, footer a {
    color: white;
}

header, footer {
    max-width: 100%;
}


ul, li {
    text-align: left;
    line-height: 2rem;
}

h1, h2, h4, h5, h6 {
    color: var(--ceruleanblue);
    margin-top: 1.2rem;
    margin-bottom: 0.2rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-style: normal;
}

div {
    background-color: var(--silversand);
    margin-bottom: 4rem;
}

img {
    max-width: 100%;
}

.profile {
    border: 0.2rem solid #01161eff;
}

.logo {
    max-width: 8rem;
}
  
.namedate {
    color: black;
    font-size: 0.8rem;
}

.secondNavBar {
	display: flex;
	border-top: 3px solid #153e5c;
}
.secondNavBar button {
	padding: 8px;
	border: none;
	flex: 1 1 auto; /* nav buttons span full width*/
}
.secondNavBar button:hover {
	background-color: #153e5c;	
	color: #ffffff;
}
.highlightTab {
	background-color: #c1cdd5;	
}

nav {
    background-color: var(--ceruleanblue);
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-weight: bold;
}

nav a:hover {
    background-color: var(--spacecadet);
    border-radius: 1rem;
}

.navigation {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    width: 100%;
}
    
.navigation li:first-child {
    display: block;
    margin: 0 2%;
    padding: 2% 0;
}
  
.navigation li {
      display: none;
}
  
.navigation li a {
    color: white;
    display: block;
    font-family: 'Antonio', sans-serif;
    font-size: 20px;
    font-weight: 700;
    padding: .75rem;
    text-align: left;
    text-decoration: none;
}
   
.responsive li {
    display: block;
}

a {
    font-size: 1.2rem;
    text-decoration: none;
    color: #1b313bff;
}

p a:visited {
    color: var(--main);
}

p {
    font-size: 1rem;
    padding: 0.1rem 1.5rem 0.1rem 1.5rem;
    margin-top: 0.2rem;
    line-height: 1.5rem;
}

.paragraphstyle {
    background-color: var(--main);
    margin: 1.5rem;
    padding-right: 1rem;
}

.siteplannav {
    margin: 2rem;
    padding: 0.2rem;
}

ol {
    text-align: start;
    margin: 1rem;
}

header, .siteplannav {
    background-color: var(--ceruleanblue);
}

.spacecadet {
    background-color: var(--spacecadet);
    color: var(--white);
    border: 4px solid var(--spacecadet);
}

.carolinablue {
    background-color: var(--carolinablue);
    color: var(--white);
    border: 4px solid var(--carolinablue);
}

.silversand {
    background-color: var(--silversand);
    padding: .5rem;
}

h2 {
    background-color: var(--carolinablue);
}

footer {
    background-color: var(--ceruleanblue);
}

html {
    color: var(--main);
}

h2, footer {
    color: #ededebff;
}
  
pre {
    background-color: var(--white);
    border: 2px solid gray;
    color: black;
}

.ceruleanblue {
    background-color: var(--ceruleanblue);
    color: white;
    border: 4px solid var(--ceruleanblue);
}

.mediacard img {
    max-width: 100%;
}