@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

.banner {
  background-color: rgb(209, 14, 14);
  display: none;
  padding: .75em 1em;
}

.banner h1 {
  color: white;
  font-family: "Robot", sans-serif;
  font-size: 1rem;
  margin: 0 auto;
  text-align: center;
}

.banner h2 {
  color: white;
  font-size: 1rem;
  margin: 0 auto;
  text-align: center;
}

body {
    background-color: white;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    margin: 0 auto;
    padding: 0;
}

/* Footer Section */

footer a {
    color: white;
  }

footer a:hover {
  color: yellow;
}
  
footer p {
  color: white;
}

footer {
  background-color: rgb(37, 53, 87);
  border-top: 1px solid black;
  color: white;
  font-family: "Antonio", sans-serif;
  padding: 0.25rem;
  text-align: center;
}

.map {
  display: none;
}

.socialmedia {
  margin: 1.5em;
  text-align: center;
}

.socialmedia a {
  margin: 0 .5em;
}

.socialmedia img {
  width: 5%;
}

/* Finish Footer */

/* Hearder Section */

.header {
  color: green;
  font-family: 'Antonio', sans-serif;
  font-size: 40px;
  font-weight: bold;
}

header {
  align-items: center;
  background-color: rgb(121, 171, 187);
  color: white;
  display: flex;
  justify-content: center;
  padding: .1rem 5px;
}

header div {
  display: inline;
  margin: 0;
}

header h1 {
  color: white;
  font-size: 20px;
  margin: 0;
}

.headings {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.logo-box {
  float: left;
  padding: 0;
  width: auto;
}

.slogan {
  color: white;
  font-style: italic;
  letter-spacing: 1pt;
  margin-left: 15px;
} 

/* Finish Header */

/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* Main Section */

#allTownInfo h3 {
	margin-top: 10px;
}

#allTownInfo {
  background: rgb(121, 171, 187);
	border: 2px solid #000000;
  display: flex;
  flex-direction: column;
	margin-top: 10px;
  overflow: auto;
	padding: 15px;
}

#allTownInfo article {
  background: #cacfd4;
  border: 2px solid #000000;
	display: flex;
	flex-direction: column;
	margin: 10px;
	padding: 35px;
}

#allTownInfo img {
	box-shadow: 0 0 20px #000000;
  height: auto;
	width: 100%; 
}

#allTownInfo div {
  align-items: center;
  display: flex;
  justify-content: center;
	padding: 15px;
	text-align: center;
}

.townInfoImg {
	margin: 0;
  width: 100%;
}

#articleArea {
  background: #cacfd4;
	border: 2px solid #000000;
	margin-top: 10px;
  overflow: auto;
	padding: 15px;
}

.articleImg {
	margin: 0;
	width: 100%;
}

#articleArea h3 {
	margin-top: 10px;
}

#articleArea img {
  box-shadow: 0 0 20px #000000;
  display: block;
  height:	auto;
	width: 100%;
}	

#heroArea {
	position: relative;
}

#heroArea img {
  height:	auto;
	width: 100%;
}

main {
  margin: 0 auto;
	max-width: 80em;
	padding: 10px;
}

a {
	text-decoration: none;
}

/* Finish Main */

/* Navigation Section*/

.secondNavBar {
	display: flex;
	border-top: 3px solid #153e5c;
}
.secondNavBar button {
	padding: 8px;
	border: none;
	flex: 1 1 auto; /* nav buttons span full width*/
}
.secondNavBar button:hover {
	background-color: #153e5c;	
	color: #ffffff;
}
.highlightTab {
	background-color: #c1cdd5;	
}

.active {
  color: white;
  font-weight: bold;
}

nav {
  background-color: #253557;
  border-bottom: 1px solid black;
	margin: 0 auto;
  padding: 1em;
}

.navigation {
	list-style: none;
  margin: 0 auto;
	padding: 0;
  text-align: center;
  width: 100%;
}

.navigation .active a {
  color: white;
  text-decoration: underline;
}

.navigation li:first-child {
	display: block;
  margin: 0 2%;
  padding: 2% 0;
}

.navigation li {
	display: none;
}

.navigation li a {
  color: white;
	display: block;
  font-family: 'Antonio', sans-serif;
  font-size: 20px;
  font-weight: 700;
	padding: .75rem;
	text-align: left;
	text-decoration: none;
}

.navigation a:active {
  background-color: rgb(121, 171, 187);
  color: whitesmoke;
  font-weight: bold;
}

.navigation a:hover {
	color: whitesmoke;
	background-color: rgb(121, 171, 187);
}


/* the onclick JS toggles the .reponsive class from display none (.navigation li) to display block because the responsive class is added to the end of the class list like this in HTML.
  <ul class="navigation responsive">
*/

.responsive li:hover:not(:first-child) {
  background-color: yellow;
}

.responsive li {
	display: block;
}

/* Finish Navigation */

