@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

.accent1 {
  background-color: #FFFF00;
}

.accent2 {
  background-color: #FFFFFF;
}

.a1 {
  color: #FFFF00;
}

body {
    background-color: white;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    margin: 0 auto;
    max-width: 960px;
  }

.colors {
  border-color: white;
  padding: 5px;
  text-align: center;
}

footer a {
    color: white;
  }

footer a:hover {
  color: yellow;
}
  
  footer p {
    color: white;
  }

  footer {
  background-color: rgb(37, 53, 87);
  border: 1px solid navy;
  color: white;
  font-family: "Antonio", sans-serif;
  padding: 0.25rem;
  text-align: center;
}

header {
  background-color: rgb(37, 53, 87);
  color: white;
  justify-content: space-between;
  margin: 0 auto;
  padding: 2em;
}

h1, h2, h3 {
    font-family: 'Antonio', sans-serif;
}

.logo {
    width: auto;
}

main {
    /*display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr 1fr 1fr;*/
    background-color: white;
    padding: 1em;
  }

nav {
    background-color: rgb(37, 53, 87);
    border-radius: 10px;
    color: white;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0em;
}

nav a:hover {
    color: yellow;
    font-weight: bold;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

nav ul li {
  background-color: rgb(37, 53, 87);
  border-radius: 0px;
  flex: 1 1 100%;
  margin-right: 0.5em;
  padding: 3px;
  text-align: center;
}

nav ul li a {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    padding: .75em;
    text-decoration: none;
}

.p {
  color: #000080;
}

.personas img {
  margin: 0 auto;
  padding: 0 5px;
  width: 300px;
}

.primary {
  background-color: #000080;
}

.s {
  color: #253557;
}

.secondary {
  background-color: #253557;
}

table {
  border-spacing: 0;
  overflow: scroll;
  width: 100%;
}

table, td {
  border: .5px solid black;
}

table tr td {
  padding: 10px;
}



